<template>
      <div class="side-nav">
           <div class="logo">
             <div class="row mt-4 ml-3 ">
                <div class="col-3 col-sm-3 col-lg-3 pb-5">
                    <img src="../../assets/images/Logo.png" height="50" class="Logo">
                </div>
            </div>
        </div>

        

        <a href="" class="" >
            <div class="element-container" :class="activeLink == 'dashboard' ? 'active-link' : ''">
                <div class="element">
                    <img src="../../assets/images/icondashboard.png" height="35" class="ml-2 pt-2  position-absolute">
                    <p class="ml-4 pl-4 pt-3  option" href="">Dashboard</p>
                </div>
            </div>
        </a>

        

        <a href="" class="">
            <div class="element-container" :class="activeLink == 'patron' ? 'active-link' : ''">
                <div class="element">
                    <img src="../../assets/images/iconpatron.png" height="35" class="ml-2 pt-2 position-absolute">
                    <p class="ml-4 pl-4 pt-3 option" href="">Patron Management</p>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="element-container" :class="activeLink == 'book' ? 'active-link' : ''">
                <div class="element">
                    <img src="../../assets/images/iconbook.png" height="35" class="ml-2 pt-2 position-absolute">
                    <p class="ml-4 pl-4 pt-3 option" href="">Books Management</p>
                </div>
            </div>
        </a>

        

        <a href="" class="">
            <div class="element-container" :class="activeLink == 'settings' ? 'active-link' : ''">
                <div class="element">
                    <img src="../../assets/images/iconsetting.png" height="35" class="ml-2 pt-2 position-absolute">
                    <p class="ml-4 pl-4 pt-3 option" href="">Settings</p>
                </div>
            </div>
        </a>


    

    </div> 
</template>

<script>
export default {
  name: 'Sidenav',
  props: ['activeLink'],
  mounted() {
    console.log(this.activeLink);
  }
}
</script>


<style >
@import '../../assets/css/style.css';
</style>
