<template>
    <div class="Topnav">
        <div class="top-nav">
            <div class="nav-container">
                <div class="d-flex align-items-center">
                    <hr class="vertical-divider">
                    <a href="" class="mr-2 pt-2 link-logout">Logout</a>
                    <img src="../../assets/images/avatar.png" height="30" class="mt-1 mr-2">
                </div>
            </div>
        </div>
        
    </div>

</template>

<script>
    export default {
        name: 'Topnav'
    }
</script>

<style scoped>
@import '../../assets/css/style.css';
</style>
