<template>
<div id="app">
<Sidenav activeLink="dashboard"></Sidenav>
<Topnav></Topnav>
  <div class="main-content">
       <div class="container pt-5">
            <div class="row mt-2">
                <div class="col-10 col-sm-10 col-lg-6 pb-3">
                    <h4 class="text-muted col-md-10 offset-md-2">Borrowed and returned books</h4>
                    <canvas id="myBar" width="280" height="180"></canvas>
                </div>
                <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                    <h4 class="text-muted col-md-10 offset-md-3">Popular book genre </h4>
                     <canvas id="myPie" width="280" height="180"></canvas> 
                </div>
            </div>
        </div>
    </div>
  </div>

</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../../navigations/Sidenav.vue'
import Topnav from '../../navigations/Topnav.vue'



export default {
  components: {Sidenav,Topnav},
  mounted: function(){
        document.title = "Library Management System"
  var ctx = document.getElementById('myBar').getContext('2d');
  new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY', 'JUNE'],
        datasets: [{
            label: 'Borrowed Books',
            data: [25, 36, 29, 50, 22, 27],
            backgroundColor: [
                'rgba(26,188,156 ,1)',
                'rgba(26,188,156 ,1)',
                'rgba(26,188,156 ,1)',
                'rgba(26,188,156 ,1)',
                'rgba(26,188,156 ,1)',
                'rgba(26,188,156 ,1)',
                
            ],
            hoverBackgroundcolor: 'cyan',
        },{
            label: 'Returned Books',
            data: [32, 21, 17, 29, 33, 8],
            backgroundColor: [
                'rgba(230,126,34 ,1)',
                'rgba(230,126,34 ,1)',
                'rgba(230,126,34 ,1)',
                'rgba(230,126,34 ,1)',
                'rgba(230,126,34 ,1)',
                'rgba(230,126,34 ,1)',
                
            ],
            hoverBackgroundcolor: 'brown',
        
        }]
    },
    options: {
        tooltips:{
            mode: 'index',
        },
                 scales: {
                      xAxes: [{
                         stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                        }]
                    }
                
            }
});

    var pie = document.getElementById('myPie').getContext('2d');
    new Chart(pie, {
        type: 'doughnut',
        data: {
            labels: ['Novel', 'Fiction', 'Biography', 'Horror'],
        datasets: [{
            label: '# of Votes',
            data: [7, 5, 9, 10],
            backgroundColor: [
                'rgba(26,188,156,1.0)',
                'rgba(230, 126, 34,1.0)',
                'rgba(52, 152, 219,1.0)',
                'rgba(241, 196, 15,1.0)'
                
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        } 
    }
 });
  }
}

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import '../../../assets/css/style.css';
</style>



