
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;400&display=swap');
html {
    height: 100%;
  }
  
  a:hover {
    text-decoration: none;
  }

  body{
    background: #ffffff; 
  }
  
  .side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #2D3E52;
    overflow-x: hidden;
    box-shadow: 8px 0 8px -6px rgba(44, 50, 56, 0.8), -5px 0 8px -6px rgba(31, 73, 125, 0.8);
    transition: all 400ms;
  }
  
  
  .logo {
    padding-top: 10px;
  }
  
  .Logo {
    border-radius: 5%;
  }
  
  .side-nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    color: rgb(5, 5, 5);
    display: block;
  
  }
  
  .side-nav .option:hover {
    color: #adabab8c;
    transition: all 250ms;
  }
  
  .option {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
  }
  
  .element-container {
    width: 100%;
    height: 55px;
    position: relative;
  }
  
  .element {
    position: absolute;
    margin-top: 2px
  }
  
  .active-link {
    position: relative;
    height: 55px;
    background-color: #10E8F5;
   
  }
  
  .top-nav {
    width: calc(100% - 250px);
    padding-left: 270px;
    background: #2D3E52;
    height: 3rem;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
  
  }
  
  .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-top: 6px;
    display: inline-block;
  
  }
  
  .link-logout {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-decoration: none;
    color: #ffffff;
  }
  
  
  .main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
  }
  
  .custom-form {
    color: #000000;
    display: block;
    width: 24rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border-color: #000000;
    border-radius: 2rem;
  
  }
  
  .invert {
    transform: scaleX(-1);
  }
  
  .custom-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 7px;
  }
  
  thead {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 16px;
    
  }
  
  td {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    line-height: 3rem;
    text-align: center;
    line-height: 3rem;
  }
  
  
  
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: .9rem;
    }
  
    .side-nav {
      width: 120px;
    }
  
    .main-content {
      margin-left: 90px;
    }
  
    .active {
      height: 55px;
    }
  
  
    .custom-btn{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 0px ;
      text-align: center;
      font-display: none;
      width: 44px;
      line-height: -2.5rem;
    }
    
    .option {
      display: none;
    }
  
    .logo-name {
      display: none;
    }
  
    .Logo {
      margin-left: -20px;
      height: 60px;
      width: auto;
    }
  
    .top-nav {
      width: calc(100% - 120px);
    }
  
    .nav-container {
      margin-left: 125px;
    }
  }